@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;0,900;1,300;1,400;1,500;1,600&display=swap');

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}